body
{
    color: aquamarine;
    background: rgb(242, 158, 158);
}

.heading
{
    width: 80%;
    font-size: 22px;
}

#camera
{
    border: 2px dashed white;
    width: 350px;
    height: 300px;
}

.name_of_objects, #result_object_name , #result_object_accuracy
{
    color: blueviolet;
}